# Rails
RAILS_ENV=production
SECRET_KEY_BASE= # use `bin/rails secret` for production-like usage
CONTENT_SEARCH_HOST_IP=localhost:3000
CONTENT_SEARCH_HOST_ADDR=

# --- External Services ---
SOLR_URL=
IIIF_CANVAS_URL=
